/* Shop Page Styles */
.temp-title {
  color: white;
  text-align: center;
}
.shop-cont {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.temp-shop-one,
.temp-shop-two,
.temp-shop-three {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.merch-vid {
  width: 90%;
  height: 80%;
  margin: auto 0;
}
/* End of Shop */
/* Contact Page Styles */
.form-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.form-label,
.form-input {
  width: 100%;
  color: white;
  padding: 0.5rem 0;
}
.form-label {
  text-align: left;
}
.form-input {
  color: black;
}
.message-box {
  width: 100%;
  margin-bottom: 4rem;
}
.submit-button {
  width: 40%;
  height: 3rem;
  background-color: rgb(13, 110, 253);
  color: black;
  border-radius: 5px;
}
.submit-button:hover {
  background-color: white;
}

.back-video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 760px;
  transform: scaleX(1.4);
}

/* Artist Page Styles */
.artist-page-table {
  width: 100%;
  height: 1150px;
  padding-top: 50px;
}
.art-page-back {
  background: url(../imgs/kaArtists.jpg) no-repeat center;
  background-size: cover;
}
.row-one,
.row-two {
  margin-bottom: 8rem;
}
.trzy-name,
.beyn-name {
  margin-top: 6rem;
}
.art-link:hover {
  color: rgba(0, 128, 0, 0.742);
}
.small-table {
  visibility: hidden;
  height: 0;
  width: 0;
}

@media only screen and (max-width: 701px) {
  /* Artist Page */
  .artist-page-table {
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
  }
  .small-table {
    visibility: visible;
    width: 100%;
    height: auto;
  }
}
/* End of Artist Page */
/* Gallery Page */
.gallery-collage {
  height: 95vh;
  width: 100vw;
}
@media only screen and (max-width: 501px) {
  .gallery-collage {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .gallery-cont-two {
    /* visibility: visible; */
    height: 100vh;
    width: 100vw;
    background: url(../imgs/collage1small.jpeg);
    background-repeat: no-repeat;
  }
  .gallery-cont-three {
    /* visibility: visible; */
    height: 100vh;
    width: 100vw;
    background: url(../imgs/collage2small.jpeg) no-repeat;
  }
}
/* End of Gallery Page */

/* Releases Page Styles */
.hero {
  width: 100%;
  height: 100vh;
  background-color: #000;
  overflow-x: hidden;
}

.hero .carousel {
  width: 300px;
  margin: 100px auto 0;
  overflow: visible;
}

.carousel img {
  -webkit-box-reflect: below 20px
    linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}
/* End of Releases Page */
