@media only screen and (max-width: 701px) {
  /* Shared */
  .nav-title {
    font-size: 1.5rem;
  }
  .medium-p {
    font-size: 1.5rem;
  }
}

/* Max Width 501px */
@media only screen and (max-width: 501px) {
  /* Shared */
  .nav-title {
    font-size: 1rem;
  }
  .nav-item {
    font-size: 1rem;
  }
  .large-white {
    font-size: 4rem;
  }
  /* End of Shared */

  /* Index/Home */
  .artist-name-main {
    font-size: 3rem;
  }

  .main-page-video {
    height: 300px;
    width: 100%;
  }

  .first-img,
  .third-img {
    visibility: hidden;
  }
  .second-img {
    width: 300%;
  }

  .showcase-cont {
    flex-wrap: wrap-reverse;
  }
  .showcase-div {
    width: 100%;
  }
  /* End of Index/Home */

  /* Contact Page */
  .back-video {
    visibility: hidden;
  }
  .form-label,
  .form-input,
  .message-box {
    width: 50%;
  }
  .submit-button {
    width: 50%;
    margin-bottom: 1rem;
  }
  /* End of Contact Page */
  /* Releases Page */
  .albumCov {
    height: 250px;
  }
  /* End Releases Page */
}
