body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Fjalla One", sans-serif;
}

.nav {
  background-color: black !important;
}

.nav .nav-link {
  color: white !important;
}
.nav-link:hover {
  color: rgba(0, 128, 0, 0.742) !important;
}

.nav .nav-link.active {
  color: rgba(0, 128, 0, 0.742) !important;
}

.logo {
  height: 80px;
  margin: 20px auto;
  display: block;
}

.footer {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons {
  width: 100%;
}
.footer-icons {
  margin: 0 6px;
}

/* Home Styles */
.card-div-home {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.card {
  text-align: center;
  background-color: transparent;
  border: 1px solid rgba(0, 128, 0, 0.742);
  width: 20rem;
}

.ka-artists {
  height: 500px;
  padding: 0 3rem;
}

.big-brand {
  color: white;
  font-size: 60px;
}
.branding {
  height: 60px;
}
.brand-long {
  max-height: 40px;
}
/* Cover Flow*/
.hero {
  width: 100%;
  height: 100vh;
  background-color: #000;
  overflow-x: hidden;
}
.hero .carousel {
  width: 300px;
  margin: 100px auto 0;
  overflow: visible;
}
.carousel img {
  -webkit-box-reflect: below 20px
    linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

/* Fonts/Text */
.medium-p {
  color: white;
  font-size: 2.5rem;
}
.large-white {
  font-size: 5rem;
  color: white;
  font-weight: 900;
  margin: 0;
}

/* Contact Page Styles */
.form-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.form-label,
.form-input {
  width: 100%;
  color: white;
  padding: 0.5rem 0;
}
.form-label {
  text-align: left;
}
.form-input {
  color: black;
}
.message-box {
  width: 100%;
  margin-bottom: 4rem;
}
.submit-button {
  width: 40%;
  height: 3rem;
  background-color: rgb(13, 110, 253);
  color: black;
  border-radius: 5px;
}
.submit-button:hover {
  background-color: white;
}

.back-video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 760px;
  transform: scaleX(1.4);
}
/* -- */

/* Media Scroller */
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
.media-scroller {
  --_spacer: var(--size-3);
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-auto-columns: 28%;
  padding: 0 var(--_spacer) var(--_spacer);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding: var(--_spacer);
  background: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  margin: 12px;
}
.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 / 16;
  object-fit: cover;
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}
.snaps-inline > * {
  scroll-snap-align: start;
}

.media-element img {
  max-width: 100%; /* This ensures the image won't exceed its container's width */
  height: auto; /* Maintain aspect ratio */
}

/* Apply additional styles for smaller screens (mobile devices) */
@media (max-width: 767px) {
  .media-scroller {
    grid-auto-columns: 45%; /* Adjust column width for smaller screens */
    overflow-y: hidden;
    padding: 0 1rem;
  }
  .media-element {
    margin: 12px; /* Adjust margin for smaller screens */
  }
  .card {
    width: 100%;
  }
}
